
.dashboard {
    display: flex;
  }
  
  .create-blog-container {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
  }
  
  .create-blog-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  

  .create-blog-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .create-blog-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
  }
  
  .create-blog-container .create-blog-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  

  .react-quill .ql-editor {
    min-height: 200px;
  }
  