.bloghome-box {
  width: 100%;
  background: linear-gradient(45deg, #410954, #0099ff);
}

.bloghome-container h1 {
  font-size: 24px;
  margin-bottom: 10px;

  color: #fbda61;
}

.bloghome-container p {
  font-size: 16px;
  line-height: 1.6;
  color: #61fba4;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.bloghome-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 1vmax;
  background: linear-gradient(109.6deg, rgb(0, 0, 0) 11.2%, rgb(11, 132, 145) 91.1%);
}

.bloghome-box-h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: white;
  text-align: center;
  width: 100%;
}

.blogButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2vmax;
  background: linear-gradient(12.6deg, rgb(0, 0, 0) 11.2%, rgb(11, 132, 145) 91.1%);

}
.blogButton button {
  color: white;
  background-color:#24527a;

}
