.countStats-box {
  background: linear-gradient(135deg, #410954, #0099ff);
  background: linear-gradient(109.6deg, rgb(0, 0, 0) 11.2%, rgb(11, 132, 145) 91.1%);
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

}

.countStats-box h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fbda61;
  color: white;
}

.stats-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.stats-card {
  width: 250px;
  padding: 20px;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: box-shadow 0.3s ease-in-out;
}

.stats-card:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.stats-icon {
  font-size: 3rem;
  margin-bottom: 15px;
  color: #fbda61;
  color: white;
}

.stats-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.stats-card p {
  font-size: 1rem;
  color: #9cfdff;
  font: 300 1vmax;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:#61fbf3 ;

}
