/* Option 1 */
.main-box {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  margin-top: -2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 83vh;
}
/* .h1-popular {
  padding: 1vmax;
  margin: 0 30vmax;
  font: 500 2vmax;
  font-family: Arial, Helvetica, sans-serif;
 
  display: flex;
  align-items: center;
  justify-self: center;
  color: rgba(0, 0, 0, 0.747);
} */
.h1-popular {
  /* text-align: center; */
  padding: 1vmax;
  /* margin: 1vmax auto; */
  font: 500 2vmax;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #410954;

}
.box-viewall{
  display: flex;
  justify-content: space-around;
  padding: 1vmax;
  background: linear-gradient(89.9deg, rgb(208, 246, 255) 0.1%, rgb(255, 237, 237) 47.9%, rgb(255, 255, 231) 100.2%);

}
.propButton button{
  padding: 10px 24px;
  
  color: #fbda61;
  background-color:#410954;
cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-top: 1vmax;
}
.propButton button:hover{
  color: #410954;
  background-color:#fbda61;

}
/* .header-text1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-text1 > h1 {
  margin-bottom: 1rem;
  color: #D51730;
  font-size: 3rem;
}

.header-text1 > p {
  font-size: 1.5rem;
  color: #D51730;
}

.header-image1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-image1 > img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
} */
/* animation: upDownAnimation 1s ease-in-out infinite alternate; */
.big-container {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);
}

.blogButton button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.blogButton button svg {
  margin-left: 8px;
}

.blogHeading {
  text-align: center;
  margin-bottom: 20px;
}

.blogHeading h3 {
  font-size: 2.5rem;
  font-weight: 600;
}

@keyframes upDownAnimation {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}
@media (max-width: 768px) {
  .box-viewall {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2vmax 0;
  }
  
  .h1-popular {
    font-size: 1.5rem;
    margin-bottom: 1vmax;
  }
  
  .propButton {
    margin-top: 1vmax;
  }
  
  .propButton button {
    font-size: 16px;
    padding: 8px 16px;
  }
}
