.slider-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  height: 300px;
  z-index: 1;
}

.swiperStyle {
  width: '100%';
  height: '350px';
  border-radius: '10px';
  overflow: 'hidden';
}

.swiper-slide img {
  width: 100%;
  height: 300px;
}

.swiper-pagination {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background-color: #007bff;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: #007bff;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}

@media (max-width: 768px) {
  .slider-container {
    max-width: 100%;
    height: 300px;
  }

  .swiper-pagination {
    bottom: 10px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 30px;
    height: 30px;
    font-size: 20px;
    top: 45%;
  }
}
