.blogmain-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 60%;
    padding: 1vmax;
    border: 1px solid rgba(0, 0, 0, 0.515);
    background-color: #410954;
    margin: 0 20px;
}
.blogmain-box {
    display: flex;
    justify-content: space-around;
    margin: 4vmax 0;

  }
  
  
  
  .blogmain-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
    
    color:#fbda61 ;
  }
  
  .blogmain-container p {
    font-size: 16px;
    line-height: 1.6;
    color:#61fba4 ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .recent-properties {
    width: 25%;
    /* background-color: #fbcd61; */
    background-color: #410954;
height: 800px;
    padding: 10px;
  }
  .recent-properties h2 {
    text-align: center;
    border-bottom: 2px solid rgba(243, 255, 71, 0.941);
    padding-bottom: 1.5vmax;
    color:#fbda61 ;

  }
  
 