.blogMain-details-container {
 
    padding: 20px;
    background-color: white;
  }
  
  .blogMain-image-container img {
    max-width: 100%;
    max-height: 350px; 
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  }

  .blogMain-description {
    padding: 2vmax;
    /* background-color: #410954; */
 
    background: linear-gradient(108.1deg, rgb(167, 220, 225) 11.2%, rgb(217, 239, 242) 88.9%);


    /* margin-bottom: 20px; */
    /* background-color: rgb(123, 163, 238); */

  }

 
  

  .blogMain-save-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .blogMain-save-button:hover {
    background-color: #0056b3;
  }
  .blogMain-description-text {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    color:  #24527a;

  }
  .blogMain-description-text h2 {
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    color:  #05004e;
    margin: 1vmax 0;

  }
  .blogMain-description-text img {
margin: 2vmax;
/* border: 1px solid red; */
width: 450px;
height: 310px;
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  .blogMain-description-text h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fbda61;
    color:  #05004e;

  }
  .blogMain-description-text h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fbda61;
    color:  #05004e;

  }
  
  
  .blogMain-image-features-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
  }
  
  .blogMain-image-container img {
    width: 100%;
    height: auto;
  }
  

 
  /* .featuree{
    position: absolute;
    top: 10vmax;
    right: 1.5vmax;
    width: 250px;
    max-height: 280px;
    height: auto;
    border-radius: 10px;
  animation: upDownAnimation 1s ease-in-out infinite alternate;

  } */

/*   
@keyframes upDownAnimation {
    0% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(10px);
    }
  } */

  .blogMain-features {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 50%;
    background-color: #fbda61;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* margin-right: 20px; */
  }
  
  .blogMain-features h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #410954;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .blogMain-features div {
    margin-bottom: 10px;
  }
  
  .blogMain-features p {
    margin: 0;
    font-size: 18px;
    color: #410954;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }
  
  .blogMain-features span {
    font-size: 18px;
    color: #410954;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }
  
  .blogMain-features svg {
    font-size: 18px;
    /* margin-bottom: 5px; */
    color: rgb(3, 101, 3);

  }
  
  .blogMain-features-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .blogMain-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .blogMain-feature span {
    font-size: 16px;
    color: #410954;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(3, 101, 3);

  }
  
  .blogMain-feature span:first-child {
    font-size: 20px;
    font-weight: bold;
    color: #410954;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }
  
  .blogMain-feature svg {
    font-size: 24px;
    margin-bottom: 5px;
    color: #410954;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }
  


@media (max-width: 768px) {
  .blogMain-details-container {
    padding: 10px;
  }

  .blogMain-image-features-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  .blogMain-image-container img {
    max-width: 100%;
    height: auto;
  }

  .blogMain-info-container {
    width: 100%;
  }

  .blogMain-description {
    padding: 1vmax;
  }

  .blogMain-description-text img {
    width: 100%;
    height: auto;
    margin: 1vmax 0;
  }

  .blogMain-features {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .blogMain-features-details {
    flex-direction: column;
    align-items: flex-start;
  }

  .blogMain-feature {
    margin-bottom: 5px;
  }

  .blogMain-feature span:first-child {
    font-size: 18px;
  }

  .blogMain-feature svg {
    font-size: 20px;
    margin-bottom: 3px;
  }
}
