.tc {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #410954;

}

.tc h1 {
  font-size: 32px;
  margin: 20px;
  color: #fbda61;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
}
.aboutTc-image{
height: 70vh;
width: 100%;
}
.tc h2 {
  font-size: 22px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  color: #fbda61;
  margin: 1vmax 0;
}

.ptcc {
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  color: #61fb82;
}

.tc-link {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  margin-top: 20px;
}

.tc-link:hover {
  background-color: #0062cc;
}

/* For screens with a maximum width of 768px */
@media (max-width: 768px) {
  .aboutTc-image {
    width: 100%;
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    height: 40vh;
  }
}
